/* body style changes */
body {
    background-color: rgb(29, 29, 30);
    color: rgb(209, 208, 208);
}

/* Main heading styles */
h1 {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* add a half-transparent border under the heading, adjust its margins */
hr {
    border: none;
    border-top: 2px solid rgba(252, 252, 252, 0.5);
    margin: 1rem 0;
}

/* styles for completed tasks */
.completed {
    text-decoration: line-through;
    color: grey;
}

/* make the warning message smaller and change its color */
#warningMsg { 
    font-size: 0.85rem;
    color: red;
}